.display-joke {
    align-items: center;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    height: 10rem;
    justify-content: space-evenly;
    padding: .5rem;
    text-align: center;
    width: 20rem;
}

.fav-btn {
    width: 10rem;
}