.jokes-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: space-evenly;
}

/* .new-joke-btn {
    font-family: Comic Sans MS;
    width: 10rem;
} */
